.calendar {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 20vh;
    width: 900px;
    padding: 30px;
    background-color: light-dark(rgb(250, 250, 250), rgb(41, 40, 40));
    border-radius: 10px;
    box-shadow: 0 0 10px light-dark(rgba(0, 0, 0, 0.136), rgba(27, 27, 27, 0.136));
}

@media (max-width: 1000px) {
    .calendar {
        margin-top: 90px;
        width: min(90vw);
    }
}

@media (max-width: 800px) {
    .calendar {
        padding: 12px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.monthYear {
    text-align: center;
    font-weight: 600;
    width: auto;
    color: rgb(82,130,0);
    font-size: 20px;
    text-transform: uppercase;
}
#prevBtn, #nextBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    color: light-dark(rgb(82, 82, 82), rgb(250, 250, 250));
    background-color: light-dark(rgb(250, 250, 250), rgb(82, 82, 82));
}
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.day {
    text-align: center;
    padding: clamp(2px, 1vw, 5px);
    color: rgb(153, 159, 166);
    font-weight: 500;
    font-size: clamp(0.6rem, 2.5vw, 1rem);
}
.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: clamp(2px, 1vw, 5px);
    -webkit-tap-highlight-color: transparent;
}
.dates button {
    border: none;
}
.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: clamp(28px, 10vw, 40px);
    height: clamp(28px, 10vw, 40px);
    font-size: clamp(0.65rem, 3.5vw, 1.1rem);
    transition: 0.2s;
}

#ok {
    background-color: rgba(0, 128, 0, 0.447);
}

#cancel {
    background-color: rgba(255, 0, 0, 0.448);
}

.date.inactive {
    color: light-dark(rgb(204, 204, 204), rgb(136, 136, 136));
    cursor: default;
}
.date.inactive:hover {
    background: none;
    color: light-dark(rgb(204, 204, 204), rgb(136, 136, 136));
}
.date.active {
    border: 2.5px solid light-dark(rgb(63, 63, 63), rgb(94, 94, 94));
}
#ok.date.disabled {
    background-color: light-dark(rgb(250, 250, 250), rgb(41, 40, 40));
    color: rgba(0, 128, 0, 0.58);
    font-weight: 900;
    cursor: default;
}
#cancel.date.disabled {
    background-color: light-dark(rgb(250, 250, 250), rgb(41, 40, 40));
    color: rgba(255, 0, 0, 0.448);
    font-weight: 900;
    cursor: default;
}
.date.selected {
    background-color: rgb(156, 156, 156) !important;
    color: rgb(0,0,0);
}

#weekend, #holiday {
    background-color: light-dark(rgb(250, 250, 250), rgb(41, 40, 40)) !important;
    color: light-dark(rgb(136, 136, 136), rgb(204, 204, 204));
    cursor: default;
}