.main_container {
    display: flex;
    align-self: center;
    flex-direction: column;
    height: auto;
    margin-top: 20vh;
    padding: 30px;
    border-radius: 10px;
    gap: 10px;
}

.current_password, .new_password, .again_new_password {
    display: flex;
    align-items: center;
    gap: 12px;
}

label {
    font-size: 18px;
}

#main_label {
    font-size: 28px;
}

input {
    height: 35px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    padding: 10px;
}

.buttons {
    flex-direction: row;
    margin-top: 10px;
}
.buttons button {
    height: 40px;
    width: auto;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
}

#submit_password_changes {
    background-color: rgba(4, 118, 4, 0.621);
}
#cancel_password_changes {
    background-color: rgba(122, 125, 122, 0.621);
}

@media (max-width: 500px) {
    .current_password, .new_password, .again_new_password {
        flex-direction: column;
        align-items: normal;
    }
    .main_container {
        width: 100%;
    }
}
@media (min-height: 900px) {
    .main_container {
        margin-top: 35vh;
    }
}
