/* Add layout for phones! */

.main_container {
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.current_password, .new_password, .again_new_password {
    display: flex;
    align-items: center;
    gap: 12px;
}

label {
    font-size: 18px;
}

#main_label {
    font-size: 28px;
}

input {
    height: 35px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.buttons button {
    height: 40px;
    width: auto;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
}

#submit_password_changes {
    background-color: rgba(4, 118, 4, 0.621);
}
#cancel_password_changes {
    background-color: rgba(122, 125, 122, 0.621);
}